<nav class="navbar fixed-top navbar-expand-lg bg-black opacity-100 p-0">
  <div class="container-fluid" style="padding: 4px 8px">
      <img id="logo" src="logoWeatherSite.png" alt="logo" routerLink="">
    <div id="navbar-divider" class="me-auto"></div>
    <p style="padding-left: 1rem; font-weight: bold; color: #d1cfcf"></p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white link" routerLink="pageNotFound">Weather </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white link" routerLink="pageNotFound">About Us</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged()">
          <a class="nav-link text-white"><button type="button" class="btn button-login" routerLink="login">login</button></a>
        </li>
        <li class="nav-item" *ngIf="!isLogged()">
          <a class="nav-link text-white"><button type="button" class="btn button-register" routerLink="register">Register</button></a>
        </li>
        <li class="nav-item" *ngIf="isLogged()">
          <a class="nav-link text-white"><button class="btn button-logout" (click)="logout()">Logout</button></a>
        </li>
        <li>
          <app-profile class="nav-item" *ngIf="isLogged()" routerLink="profile"></app-profile>
        </li>
      </ul>
    </div>
  </div>
</nav>

